# these are the dev dependencies
setuptools
build

fpdf2
pypdf
cairosvg
rmc@git+https://github.com/Seb-sti1/rmc.git@f5329f14fe645c0e1a8fa00aa6993ce0d6e6c487
tqdm
rmscene@git+https://github.com/Seb-sti1/rmscene.git@239748c3c3e01d2ec66e3c87b5ce921033fef15e